:root {
  --white: 255, 255, 255;
  --grey: 246, 248, 250;
  --dark: 208, 215, 222;
  --black: 36, 41, 47;

  --blue: 9, 105, 218;
  --light-blue: 221, 244, 255;

  --pink: 250, 219, 245;
  --green: 203, 238, 214;
  --violet: 242, 241, 255;

  --header-size: 75px;
}

* {
  font-family: "Arial", sans-serif;
  color: rgb(var(--black));
  cursor: default;
  box-sizing: border-box;
}

html,
head,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;

  font-size: 16px;
}

body {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: min-content minmax(0, 1fr);
}
